// _media.scsss
$ssp:620px;
$sp:959px;
$tab:1150px;

@mixin ssp {
    @media (max-width: ($ssp)) {
      @content;
    }
  }
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}