.login-form {
  width: 90%;
  max-width: 640px;
  text-align: center;
  margin: 90px auto 0px;
  border: 2px solid #AE1679;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0px 70px;
}