.registration {
  margin-bottom: 195px;
  .regi-form {
    width: 90%;
    max-width: 640px;
    text-align: center;
    margin: 0px auto;
    border: 2px solid #AE1679;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 30px 0px;
    @include mqsp {
      margin-top: 70px;
    }
    .regi-header {
      padding-bottom: 30px;
      border-bottom: 1px solid #E1E1E1;
      h2 {
        font-family: 'KozGoPr6NRegular';
        font-weight: bold;
        font-size: 36px;
        letter-spacing: 0.1em;
      }
    }
    .regi-body {
      padding: 30px 70px;
      @include mqsp {
        padding: 30px 20px;
      }
      label {
        display: block;
        text-align: left;
        font-family: 'KozGoPr6NRegular';
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.1em;
        span {
          color: #AE1679;
          font-size: 12px;
        }
      }
      .regi-name {
        input {
          font-family: 'KozGoPr6NRegular';
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.1em;
        }
      }
    }
    .regi-footer {

    }
  }
}