.thank-you {
  width: 90%;
  max-width: 640px;
  margin: 0px auto;
  border: 2px solid #AE1679;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 30px 0px 50px;
  margin-bottom: 414px;
  @include mqsp {
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .thankyou-header {
    padding-bottom: 30px;
    border-bottom: 1px solid #E1E1E1;
    h2 {
      color: #AE1679;
      text-align: center;
      font-family: 'KozGoPr6NRegular';
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.1em;
      @include mqsp {
        font-size: 20px;
      }
    }
  }
  .thankyou-body {
    margin-top: 40px;
    text-align: center;
    p {
      font-family: 'KozGoPr6NRegular';
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.1em;
      &:last-of-type {
        margin-top: 30px;
      }
      @include mqsp {
        text-align: left;
        padding: 0px 20px;
      }
    }
    .contact-thank-you {
      font-size: 18px;
      line-height: 2;
      @include mqsp {
        text-align: center;
        font-size: 14px;
      }
    }
    a {
      display: inline-block;
      margin-top: 50px;
      font-family: 'KozGoPr6NRegular';
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.1em;
      color: #ffffff;
      background-color: #AE1679;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      padding: 10px 60px;
    }
  }
}